.footer{
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #000;
  text-align: center;
}
a{
  text-decoration: none;
}

a:link,a:visited{
  color: #aaa;
}
a:hover{
  cursor: pointer
}
